<% @sidebar = capture do %>
	<h3>Assignment Types</h3>
		<p><span class="field_name">Name: </span><%= h @assignment_type.name %></p>
		<p><span class="field_name">Notes<span></p>
			<p><%= @assignment_type.notes %></p>
		<p><%= link_to 'browse', :controller => "assignment_types", :action => "index" %></p>
<% end %>


<!-- The main content area displays a list of all the assignment titles of this particular type-->

<h3 class="browse_title">Related Assignment Titles (<%= @assignment_type.assignment_titles.count %>)</h3>
	<% @assignment_type.assignment_titles.each do |assignment_title| %>
		<p><%= link_to assignment_title.name, assignment_title_path(assignment_title)%></p>
	<% end %>