<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <title>The Early American Foreign Service Database</title>
        <%= stylesheet_link_tag 'eafsd' %>
    </head>
    <body>
        <div id="allcontent">
            <div id="header">
				
				<%= image_tag 'compassrose.gif', :class=>'logo', :alt=>'Compass Rose Image' %>
				<%= image_tag 'title_image.gif', :class => 'text', :alt => 'Title Image' %>

	            <div id="nav">
	                <ul>
						<li><%= link_to_unless_current 'Home', root_path%></li>
	                    <li><%= link_to_unless_current 'Search', search_path %></li>
						<li><%= link_to_unless_current 'Browse', :controller => "assignment_titles", :action => "index"%>
	                    <li><%= link_to_unless_current 'Maps', gmap_path %></li>
		                <li><%= link_to_unless_current 'Relation Browser', relationbrowse_path %></li>
	                    <li><%= link_to_unless_current 'About', about_path%></li>
						<li class="last"><a href="/active_scaffold/default">Data</a></li>
	                </ul>
	            </div><!-- end nav -->
            </div><!-- end header -->
            
            <div id="main-wrapper">
				<div id="all_text">
                	<%= yield -%>
                </div><!-- end all_text -->
			</div><!-- end main-wrapper -->

            <div id="footer">
				<p>The Early American Foreign Service Database is licensed under a <br/>
					<a target="_blank" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.<br/>
						and is made possible by generous funding and support from <br/>
						<a href="http://www2.lib.virginia.edu/scholarslab/" target="_blank">The University of Virginia Library, Scholars' Lab</a> and <a href="http://www.nines.org" target="_blank">NINES</a></p>
				<p>Designed and Built by <a href="http://www.jeanbauer.com" target="_blank">Jean Bauer</a>. Powered by <a href="http://projectquincy.rubyforge.org" target="_blank">Project Quincy</a>.</p>
            </div><!-- end footer -->
        </div><!-- end allcontent -->
    </body>
</html>

